{% extends 'books/base.html'%}
{% block title %} Library Management System - Update Book {% endblock %}
{% block header %}Update Book{% endblock %}
{% block leftpanel %}
<li class="nav-item active">
    <a href="{% url 'addBook' %}" class="nav-link">

        <i class="fas fa-plus-square"></i>&nbsp;
        <p><strong>Add Book</strong></p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'updateBook' %}" class="nav-link active">
        <i class="fas fa-pen"></i>&nbsp;
        <p>Update Book</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'deleteBook' %}" class="nav-link">
        <i class="fas fa-trash-alt"></i>&nbsp;
        <p>Delete Book</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'displayBook' %}" class="nav-link">
        <i class="fas fa-book"></i> &nbsp;
        <p>Display Books</p>
    </a>
</li>
{% endblock %}
{% block content %}
<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Update Book</h3>
    </div>
    <form>
        {% csrf_token %}
        <div id="Show" style="display: none;">
            {% for q in BookDetails %}
            <div class="card-body">
                <div class="form-group">
                    <label>Book ID</label>
                    {{BookDetails.BookID}}
                </div>
                <div class="form-group">
                    <label>Book Title</label>
                    {{BookDetails.BookTitle}}
                </div>
                <div class="form-group">
                    <label>Book Author</label>
                    {{BookDetails.BookAuthor}}
                </div>
                <div class="form-group">
                    <label>Book Edition</label>
                    {{BookDetails.BookEdition}}
                </div>
                <div class="form-group">
                    <label>Book Price</label>
                    {{BookDetails.BookPrice}}
                </div>

                <div class="form-group">
                    <label>Book Language</label>
                    {{BookDetails.BookLanguage}}
                </div>

                <div class="form-group">
                    <label>Book Category</label>
                    {{BookDetails.BookCategory}}
                </div>

                <div class="form-group">
                    <label>Book Publication Year</label>
                    {{BookDetails.BookPublicationYear}}
                </div>
            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}