{% extends 'user/base.html'%}
{% block title %} Library Management System {% endblock %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <title>Home</title> -->
</head>
<body class="sidebar-collapse layout-top-nav sidebar-closed dark-mode" class="register-page"
      style="height: auto; left: 0;">
<div class="wrapper">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 700px;">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <!-- <h1 class="m-0"> Top Navigation <small>Example 3.0</small></h1>  -->
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <!-- <li class="breadcrumb-item text-info font-weight-normal"><a href="#">Home</a></li> -->
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <div class="content">
            <div class="container" align="center">
                <div class="card card-widget widget-user-2 shadow-sm" style="width:50%" align="center">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-primary" align="center">
                        <h1 align="center"><strong>WELCOME TO<br> LIBRARY MANAGEMENT SYSTEM</strong></h1>
                    </div>

                    <!--<div class="card">-->
                    <div class="card-body register-card-body">

                        <h3>Login</h3>
                        <hr style="border-top: 1px solid white">

                        <form method="post">
                            {% csrf_token %}
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Username" name="Username">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-user"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="input-group mb-3">
                                <input type="password" class="form-control" placeholder="Password" name="Password">
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <span class="fas fa-lock"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-8" align="left">
                                    <div class="icheck-primary">
                                        <input type="checkbox" id="remember">
                                        <label for="remember">
                                            Remember Me
                                        </label>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-4">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Login
                                    </button>
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>
                        <p class="mb-0" align="left">
                            <a href="{% url 'signup' %}" class="text-center"><i>Create a new Account</i></a>
                        </p>
                    </div>
                    <!-- /.login-card-body -->

                </div>

            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}